{% extends 'base.html' %}

{% block title %} Casa {% endblock %}
<!-- Body -->
{% block content %}
<div class="container">
	<section class="hero is-fullheight is-dark">
		<div class="columns is-multiline is-mobile">
		{% for application in applications %}
			<div class="column is-half">
				<div class="card">
					<header class="card-header">
						<p class="card-header-title">
							{{ application.app_name }}
						</p>
					</header>
					<div class="card-content">
						<div class="content">
							{{ application.app_description }}
						</div>
					</div>
					<footer class="card-footer">
						<a href="{{application.app_protocol}}://{{application.app_address}}:{{application.app_port}}" target="_blank" class="card-footer-item"><b>Go to app</b></a>
						<!-- a href="./{{application.id}}/edit" class="card-footer-item">Edit</a -->
						<a href="./{{application.id}}/delete" class="card-footer-item">Delete</a>
					</footer>
				</div>
			</div>
		{% endfor %}
		<br>
		</div>
	</section>  
</div>
{% endblock %}
{% block scripts %}	
{{ super() }}
	<script type="text/javascript" src="{{url_for('static', filename='addApplicationModal.js')}}"></script>
{% endblock %}	
	</body>
</html>